@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #ffffff;
  --black: #111111;
  --gray: #cacaca;
  --light-gray: #f1f1f1;
  --dark-gray: #818181;
  --red: #c30100;
  --yellow: #d9b400;
  --fontsize-xl: 3rem;
  --fontsize-lg: 2rem;
  --fontsize-md: 1.2rem;
  --fontsize-sm: 1rem;
  --responsive-padding: 1.5rem;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--white);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.header .navbar {
  gap: 15px;
}

.header .navbar .navbar--toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.header .navbar .navbar--toggle .navbar-toggler {
  padding: 0;
}

.header .navbar .navbar-collapse {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .navbar .navbar-collapse .navbar-nav {
  padding-left: 60px;
  gap: 1rem;
}

.header .navbar .navbar-collapse .navbar-nav > li > a {
  text-transform: uppercase;
  color: var(--black);
}

.header .navbar .navbar-collapse .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: var(--black);
}

.header .navbar .navbar-collapse .submenu:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: transparent;
}

.header .navbar .navbar-collapse .submenu .submenu__content {
  position: absolute;
  left: -50%;
  top: 50px;
  width: 650px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .navbar-collapse .submenu:hover .submenu__content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header .navbar .navbar-collapse .submenu .submenu-item h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 3px;
  padding-right: 10px;
  border-bottom: 2px solid var(--black);
}

.header .navbar .navbar-collapse .submenu .submenu-item ul {
  padding: 0.5rem 0 1rem 0;
}

.header .navbar .navbar-collapse .submenu .submenu__banner {
  background: url('../img/banner-mega1.jpg') no-repeat center center / cover;
  position: relative;
  width: 100%;
  min-height: 200px;
}

.header .navbar .navbar-collapse .submenu .submenu__banner__text {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  color: var(--white);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .navbar .navbar-collapse .submenu .submenu__banner__text h3 {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header .navbar .navbar-collapse .submenu .submenu__banner__text h1 {
  padding: 7px 0;
  font-size: 1.6rem;
}

.header .navbar .navbar-collapse .submenu .submenu__banner__text a {
  color: var(--white);
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--white);
  border-radius: 0;
}

.header .navbar .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.header .navbar .header__right__search {
  position: relative;
  width: 200px;
}

.header .navbar .header__right__search input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 0.9rem;
  border: 1px solid var(--gray);
  border-radius: 25px;
}

.header .navbar .header__right__search button {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  height: 100%;
  font-size: 1.1rem;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .navbar .header__right__widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.header .navbar .header__right__widget li button {
  font-size: 1.3rem;
  padding: 0;
}

.header .navbar .header__right__widget .header__total-cart,
.header .navbar .header__right__widget .header__total-wishlist {
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background-color: var(--black);
  color: var(--white);
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 50%;
}

/* Footer */
.footer .footer__title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.8rem;
  font-size: var(--fontsize-lg);
  text-align: center;
  padding-bottom: 0.5rem;
}

.footer .footer__title:after,
.footer .footer__title:before {
  content: '';
  border-top: 2px solid var(--gray);
  -ms-flex-item-align: center;
  align-self: center;
}

.footer .footer__top h3 {
  font-size: var(--fontsize-md);
  font-weight: 600;
}

.footer .footer__top .footer__top-item {
  margin-bottom: 1rem;
}

.footer .footer__top .footer__payment {
  max-width: 280px;
}

.footer .footer__bottom {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--fontsize-sm);
  padding: 1rem 0;
  margin-top: 1rem;
}

/* Breadcrumb */
.breadcrumb {
  padding-top: calc(75px + var(--responsive-padding) * 2);
  padding-left: 0;
  padding-bottom: 0.5rem;
  background-color: transparent;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--gray);
  border-radius: 0;
}

/* Accordion */
.accordion .card {
  border: none;
}

.accordion .card .card-header {
  background-color: transparent;
  padding-left: 0;
  border: none;
}

.accordion .card .card-header .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordion .card .card-header .btn:after {
  content: '\276F';
  font-size: 1.3rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordion .card .card-header .btn:not(.collapsed):after {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: var(--red);
}

/* Product Gallery */
.product__gallery .product-item {
  position: relative;
  margin-bottom: 1rem;
}

.product__gallery .product-item .product__tag:after {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 3px 10px;
}

.product__gallery .product-item--new .product__tag:after {
  content: 'Mới';
  background-color: var(--white);
  color: var(--black);
}

.product__gallery .product-item--stockout .product__tag:after {
  content: 'Hết hàng';
  background-color: var(--black);
  color: var(--white);
}

.product__gallery .product-item--sale .product__tag:after {
  content: 'Giảm giá';
  background-color: var(--red);
  color: var(--white);
}

.product__gallery .product-item--sale .product__price {
  color: var(--red);
}

.product__gallery .product-item--sale .product__price span {
  text-decoration: line-through;
  color: var(--gray);
  font-size: var(--fontsize-sm);
  padding: 0 5px;
}

.product__gallery .product-item .product__img {
  position: relative;
  overflow: hidden;
}

.product__gallery .product-item .product__img ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}

.product__gallery .product-item .product__img ul li {
  position: relative;
  opacity: 0;
  top: 100px;
}

.product__gallery .product-item .product__img:hover ul li {
  opacity: 1;
  top: 0;
}

.product__gallery .product-item .product__img ul li:nth-child(1) {
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
}

.product__gallery .product-item .product__img ul li:nth-child(2) {
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}

.product__gallery .product-item .product__img ul li:nth-child(3) {
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  -o-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}

.product__gallery .product-item .product__img ul li span {
  display: block;
  font-size: var(--fontsize-md);
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  -o-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  cursor: pointer;
}

.product__gallery .product-item .product__img ul li:hover span {
  background-color: var(--red);
  color: var(--white);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.product__gallery .product-item .product__price {
  font-weight: 700;
}

/* Home Page */
/* Slider Section */
.slider {
  padding-top: calc(45px + var(--responsive-padding) * 2);
}

.slider .carousel .carousel-control-prev,
.slider .carousel .carousel-control-next {
  min-width: 50px;
  width: 10%;
  padding: 0 1.2rem;
  opacity: 0.7;
}

.slider .carousel .carousel-control-prev span,
.slider .carousel .carousel-control-next span {
  color: var(--white);
  font-size: var(--fontsize-lg);
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider .carousel .carousel-control-prev:hover span,
.slider .carousel .carousel-control-next:hover span {
  background-color: rgba(0, 0, 0, 0.55);
}

.slider .carousel .carousel-indicators {
  padding: 0.5rem 0;
}

.slider .carousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.15);
  width: 15px;
  height: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slider .carousel .carousel-indicators li.active {
  background-color: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 10px;
}

.slider .carousel .carousel-item img {
  min-height: 70vh;
}

.slider .carousel .carousel-text {
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
  text-align: center;
}

.slider .carousel .carousel-text a {
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--red);
}

.slider .carousel .carousel-text .carousel-title {
  position: relative;
}

.slider .carousel .carousel-text .carousel-title:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: var(--white);
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.slider .carousel .carousel-text .carousel-title span,
.slider .carousel .carousel-text .carousel-title h3 {
  color: var(--black);
  font-size: var(--fontsize-md);
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slider .carousel .carousel-text .carousel-title h3 span {
  color: var(--red);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 5px;
}

.slider .carousel .carousel-text .carousel-title h1 {
  font-family: 'Dancing Script', sans-serif;
  font-size: var(--fontsize-xl);
  font-weight: 600;
  color: var(--red);
  line-height: 1.6;
}

/* Product Section */
.product {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.product .product__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

/* Categories Section */
.categories .categories__item {
  height: 250px;
  margin-bottom: 10px;
}

.categories .categories__item--large {
  height: 510px;
  margin-right: 10px;
}

.categories .categories__item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.categories .categories__item .categories__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  -webkit-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.categories .categories__item:hover .categories__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.categories .categories__item .categories__text {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 50%;
  -webkit-transform: translate(-15%, -50%);
  -ms-transform: translate(-15%, -50%);
  transform: translate(-15%, -50%);
}

.categories .categories__item .categories__text h1 {
  font-size: var(--fontsize-lg);
  text-transform: capitalize;
}

.categories .categories__item .categories__text h1,
.categories .categories__item .categories__text p {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.categories .categories__item .categories__text .categories__button {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.categories .categories__item:hover .categories__text h1,
.categories .categories__item:hover .categories__text p {
  -webkit-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  transform: translateY(-2rem);
}

.categories .categories__item:hover .categories__text .categories__button {
  opacity: 1;
}

/* Trend Section */
.trend {
  padding-top: 3rem;
}

.trend .tab-content {
  padding-top: 1rem;
}

.trend .tab-content .owl-carousel .owl-dots {
  display: none;
}

.trend .nav-tabs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.trend .nav-tabs,
.trend .nav-tabs .nav-link.active {
  border: none;
}

.trend .nav-tabs .nav-link {
  text-transform: capitalize;
  font-size: var(--fontsize-md);
  font-weight: 600;
  border: none;
}

.trend .nav-tabs .nav-link:hover {
  border: none;
}

.trend .nav-tabs .nav-link.active {
  color: var(--red);
}

/* Services Section */
.services {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.services .services-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 1.5rem;
}

.services .services-item span {
  font-size: 2rem;
  color: var(--red);
  position: absolute;
  top: 8px;
  left: 0;
  width: 60px;
  text-align: center;
}

.services .services-item h3 {
  font-size: var(--fontsize-md);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.services .services-item p {
  color: var(--dark-gray);
  margin-bottom: 0;
}
/* End Home Page */

/* Product Page */
/* Product Categories Accordion */
.product .accordion {
  padding-bottom: 1rem;
}

.product .card .card-header {
  padding: 0;
}

.product .card .card-header .btn {
  font-size: 1.1rem;
}

.product .card .card-body {
  padding: 0;
  padding-bottom: 1rem;
}

.product .card .card-body .fw-item label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  font-size: 1.1rem;
  line-height: 1.8;
}

.product .card .card-body .fw-item input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.product .card .card-body .fw-item .checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.product .card .card-body .fw-item input:checked + .checkmark {
  background-color: var(--red);
}

.product .card .card-body .fw-item input:checked + .checkmark:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width: 6px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border-right: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
}

.product .card .card-body .slider-range {
  position: relative;
  height: 10px;
  margin: 0.7rem 0;
}

.product .card .card-body .slider-range .track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red);
  opacity: 0.2;
  border-radius: 5px;
}

.product .card .card-body .slider-range .range {
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 0;
  background-color: var(--red);
}

.product .card .card-body .slider-range .thumb {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red);
  cursor: pointer;
}

.product .card .card-body .slider-range .thumb-left {
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product .card .card-body .slider-range .thumb-right {
  right: 25%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.product .card .card-body .slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.9rem;
}

/* Product Content */
.product .product__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product .product__options h3 {
  font-size: 1rem;
  margin: 0;
}

.product .product__options select {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  max-width: 150px;
}

.product .pagination {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.product .pagination .page-item {
  font-weight: 600;
  font-size: 1.1rem;
}

.product .pagination .page-item .page-link {
  padding: 0.4rem 0.8rem;
}

.product .pagination .page-item.disabled {
  cursor: not-allowed;
}

.product .pagination .page-item:not(.disabled) .page-link {
  color: var(--red);
}

.product .pagination .page-item.active .page-link {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}
/* End Product Page */

/* FAQs Page */
.faq {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.faq h1 {
  font-size: var(--fontsize-lg);
  font-weight: 600;
  padding-bottom: 1rem;
}

.faq .accordion .card .card-header {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.faq .accordion .card .card-header .btn:not(.collapsed),
.faq .accordion .card .card-header .btn:not(.collapsed):after {
  font-size: 1.625rem;
}

.faq .accordion .card .card-body {
  padding-left: 0;
  padding-right: 0;
}

.faq .accordion .card .card-body p:last-child {
  margin-bottom: 0;
}
/* End FAQs Page */

/* Contact Page */
.contact {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.contact iframe {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.contact .contact__text,
.contact .contact__form {
  padding-top: 2.5rem;
}

.contact .contact__text .contact__widget .contact__widget-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  background-color: var(--white);
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid var(--gray);
}

.contact .contact__text .contact__widget .contact__widget-item span {
  font-size: 2rem;
  color: var(--dark-gray);
}

.contact .contact__text .contact__widget .contact__widget-item h3 {
  font-size: var(--fontsize-md);
  color: var(--dark-gray);
}

.contact .contact__text .contact__widget .contact__widget-item p {
  margin: 0;
  word-break: break-word;
}

.contact .contact__form input,
.contact .contact__form textarea {
  width: 100%;
  padding: 0.7rem 0.9rem;
  margin-bottom: 1rem;
  font-size: 16px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.contact .contact__form textarea {
  resize: none;
  margin-bottom: 1rem;
}
/* End Contact Page */

/* Ultility classes */
.logo {
  font-family: 'Dancing Script', sans-serif;
  font-size: var(--fontsize-xl);
  font-weight: 700;
}

.rating {
  padding-bottom: 3px;
}

.rating span {
  color: var(--yellow);
  font-size: 0.7rem;
}

.title {
  text-transform: uppercase;
  font-size: var(--fontsize-md);
  font-weight: 700;
}

.link {
  line-height: 1.6;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--red);
}

.btn {
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 0;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--underline {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0;
  border-bottom: 3px solid var(--red);
}

.btn-primary {
  display: block;
  position: relative;
  padding: 3px 0;
  font-weight: 600;
}

.btn-primary:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--red);
  -webkit-transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.btn-primary:hover:after {
  width: 100%;
}

.btn-primary--active.btn-primary:after {
  width: 100%;
}

.btn-secondary {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  color: var(--red);
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid var(--red);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5rem 1.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  color: var(--white);
  background-color: var(--red);
  border-radius: 25px;
}

.btn-link {
  padding: 0.3rem 0;
  color: var(--black);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  white-space: normal;
  word-break: break-word;
}

.btn-link:not(.collapsed),
.btn-link:hover {
  color: var(--red);
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  .header .navbar .navbar-collapse {
    padding-bottom: 0.5rem;
  }

  .header .navbar .navbar-collapse .navbar-nav {
    padding-left: 0;
  }

  .categories .categories__item,
  .categories .categories__item--large {
    height: 250px;
    margin: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --fontsize-xl: 2.5rem;
    --fontsize-lg: 1.7rem;
    --fontsize-md: 1.1rem;
    --fontsize-sm: 0.9rem;
    --responsive-padding: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --fontsize-lg: 1.5rem;
  }

  .header .navbar .navbar-collapse {
    padding-bottom: 0;
  }

  .header .navbar .header__right__search {
    width: 100%;
    padding: 1rem 0;
  }

  .header .navbar .header__right__search input {
    border-radius: 10px;
  }

  .categories .categories__item,
  .categories .categories__item--large {
    height: 170px;
  }

  .categories .categories__item .categories__text {
    top: 40%;
    width: 100%;
    margin: 0 2.5rem;
  }

  .categories .categories__item .categories__text p {
    display: none;
  }

  .categories .categories__item .categories__text .categories__button {
    top: 100%;
    opacity: 1;
  }

  .categories .categories__item:hover .categories__text h1,
  .categories .categories__item:hover .categories__text p {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .slider .carousel .carousel-text {
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --fontsize-xl: 2.2rem;
    --fontsize-lg: 1.2rem;
  }

  .categories .categories__item .categories__img {
    background-position: center;
  }

  .product__gallery .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product__gallery .product__img {
    max-height: 280px;
  }
}
